In [17]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans
from src.lfgp import LFGP
from collections import defaultdict

In [18]:
np.random.seed(0)

n_jobs = 50  # Number of job types
n_workers = 50  # Number of worker types
k = 6  # Dimension of the latent factor vector

# Initialize the latent ability estimate for each worker as a uniform probability distribution
# Generate the latent factor vector for jobs
jobs_latent_factors = np.random.randint(2, size=(n_jobs, k))
jobs_df = pd.DataFrame(jobs_latent_factors, columns=[f'Ability_{i}' for i in range(1, k+1)])
jobs_df['Job Type'] = [f'Job Type_{i}' for i in range(1, n_jobs+1)]

# Generate the latent factor vector for workers
workers_latent_factors = np.random.randint(2, size=(n_workers, k))
workers_df = pd.DataFrame(workers_latent_factors, columns=[f'Skill_{i}' for i in range(1, k+1)])
workers_df['Worker Type'] = [f'Worker Type_{i}' for i in range(1, n_workers+1)]

# Display the generated data
print("Jobs Database:")
print(jobs_df)
print("\nWorkers Database:")
print(workers_df)

Jobs Database:
    Ability_1  Ability_2  Ability_3  Ability_4  Ability_5  Ability_6  \
0           0          1          1          0          1          1
1           1          1          1          1          1          0
2           0          1          0          0          0          0
3           0          1          0          1          1          0
4           0          1          1          1          1          0
5           1          0          1          0          1          1
6           0          1          1          0          0          1
7           0          1          1          1          1          1
8           0          1          0          1          1          1
9           1          0          1          0          0          1
10          1          0          1          0          1          0
11          0          0          0          0          1          1
12          0          0          0          1          1          0
13          1          0          0          1          0          1
14          1          1          1          1          1          0
15          1          1          0          0          1          0
16          0          1          1          0          1          0
17          0          1          0          0          0          1
18          1          0          1          0          0          0
19          0          0          1          0          1          0
20          1          1          1          1          1          0
21          1          1          1          1          0          1
22          1          0          0          1          0          0
23          0          0          1          1          0          0
24          1          0          1          1          1          1
25          0          0          0          1          0          1
26          1          1          0          1          0          0
27          1          0          1          1          0          0
28          1          0          1          0          1          0
29          1          0          1          0          0          0
30          1          0          1          0          1          0
31          0          0          0          0          1          0
32          0          1          0          0          0          1
33          0          0          1          0          1          0
34          0          1          1          0          0          0
35          1          1          0          0          0          0
36          0          1          0          1          0          0
37          0          1          1          1          0          0
38          1          1          1          1          0          0
39          0          1          1          0          1          0
40          0          1          0          1          1          1
41          1          0          0          0          1          1
42          1          0          1          1          1          1
43          0          0          1          1          0          0
44          0          1          1          0          1          1
45          1          1          1          0          0          0
46          1          0          1          0          1          1
47          0          0          0          1          0          0
48          1          1          1          1          0          1
49          0          0          0          0          1          1

       Job Type
0    Job Type_1
1    Job Type_2
2    Job Type_3
3    Job Type_4
4    Job Type_5
5    Job Type_6
6    Job Type_7
7    Job Type_8
8    Job Type_9
9   Job Type_10
10  Job Type_11
11  Job Type_12
12  Job Type_13
13  Job Type_14
14  Job Type_15
15  Job Type_16
16  Job Type_17
17  Job Type_18
18  Job Type_19
19  Job Type_20
20  Job Type_21
21  Job Type_22
22  Job Type_23
23  Job Type_24
24  Job Type_25
25  Job Type_26
26  Job Type_27
27  Job Type_28
28  Job Type_29
29  Job Type_30
30  Job Type_31
31  Job Type_32
32  Job Type_33
33  Job Type_34
34  Job Type_35
35  Job Type_36
36  Job Type_37
37  Job Type_38
38  Job Type_39
39  Job Type_40
40  Job Type_41
41  Job Type_42
42  Job Type_43
43  Job Type_44
44  Job Type_45
45  Job Type_46
46  Job Type_47
47  Job Type_48
48  Job Type_49
49  Job Type_50

Workers Database:
    Skill_1  Skill_2  Skill_3  Skill_4  Skill_5  Skill_6     Worker Type
0         1        0        1        0        0        1   Worker Type_1
1         1        1        1        1        1        0   Worker Type_2
2         0        1        1        1        1        1   Worker Type_3
3         1        1        1        1        1        0   Worker Type_4
4         0        0        0        1        1        1   Worker Type_5
5         0        1        1        1        1        1   Worker Type_6
6         1        1        0        0        0        0   Worker Type_7
7         1        1        0        1        0        0   Worker Type_8
8         1        0        1        0        1        0   Worker Type_9
9         0        0        0        1        1        1  Worker Type_10
10        0        1        0        1        0        0  Worker Type_11
11        0        0        1        1        1        0  Worker Type_12
12        1        0        0        1        1        1  Worker Type_13
13        0        1        1        0        1        0  Worker Type_14
14        1        1        0        0        1        1  Worker Type_15
15        0        1        1        1        1        1  Worker Type_16
16        1        0        0        1        0        1  Worker Type_17
17        0        0        1        1        1        1  Worker Type_18
18        1        0        1        1        1        0  Worker Type_19
19        0        1        1        0        1        1  Worker Type_20
20        1        0        0        0        1        0  Worker Type_21
21        0        0        0        0        0        1  Worker Type_22
22        1        1        0        0        1        1  Worker Type_23
23        1        0        1        0        1        0  Worker Type_24
24        1        1        1        0        1        0  Worker Type_25
25        0        1        0        1        0        0  Worker Type_26
26        1        0        0        0        0        0  Worker Type_27
27        0        0        0        0        1        0  Worker Type_28
28        1        1        0        1        1        1  Worker Type_29
29        0        0        1        1        1        1  Worker Type_30
30        0        1        0        1        0        0  Worker Type_31
31        0        0        1        1        1        1  Worker Type_32
32        1        0        1        0        1        0  Worker Type_33
33        1        0        1        1        0        0  Worker Type_34
34        0        1        1        1        0        0  Worker Type_35
35        1        0        0        1        0        0  Worker Type_36
36        0        1        0        1        0        1  Worker Type_37
37        0        1        1        0        0        1  Worker Type_38
38        0        1        0        1        0        0  Worker Type_39
39        0        0        1        1        0        1  Worker Type_40
40        0        1        1        0        1        0  Worker Type_41
41        0        0        0        0        1        1  Worker Type_42
42        0        0        0        0        1        1  Worker Type_43
43        0        0        1        0        1        1  Worker Type_44
44        1        1        1        1        1        1  Worker Type_45
45        1        1        1        0        0        1  Worker Type_46
46        1        1        1        0        0        1  Worker Type_47
47        0        0        1        0        1        0  Worker Type_48
48        1        0        0        1        0        0  Worker Type_49
49        0        0        0        1        0        1  Worker Type_50

In [19]:
# Initialize LFGP model instance
model = LFGP(lf_dim=6, n_worker_group=5, lambda1=1, lambda2=1)

# Here we need to extract the latent factor vectors from workers_df and jobs_df, and convert them into a format suitable for the LFGP model
workers_lf = workers_df.values
jobs_lf = jobs_df.values

# Directly set the model's worker and job latent factor vectors, as well as the corresponding group information
model.A = jobs_lf  # Assume A represents the latent factors of jobs
model.B = workers_lf  # Assume B represents the latent factors of workers

# Assume each worker and job is randomly assigned to a group
np.random.seed(42)
model.U = np.random.randint(0, 5, size=(n_jobs,))  # Job grouping
model.V = np.random.randint(0, 5, size=(n_workers,))  # Worker grouping

print("Job group information:", model.U)
print("Worker group information:", model.V)

Job group information: [3 4 2 4 4 1 2 2 2 4 3 2 4 1 3 1 3 4 0 3 1 4 3 0 0 2 2 1 3 3 2 3 3 0 2 4 2
 4 0 1 3 0 3 1 1 0 1 4 1 3]
Worker group information: [3 3 3 4 2 0 3 1 3 1 1 3 4 1 1 3 1 1 3 3 0 4 4 1 4 1 0 3 3 3 4 0 4 4 0 0 0
 0 3 2 2 0 2 2 0 2 4 1 1 0]

In [20]:
# Hypothetical group information for jobs and workers
jobs_group_info = np.array(model.U)
workers_group_info = np.array(model.V)

# Identify high-quality worker groups in each job group
def identify_high_quality_worker_groups(jobs_group_info, workers_group_info):
    # Build a mapping from job groups to worker groups
    job_to_workers_groups = defaultdict(lambda: defaultdict(int))
    
    for job_group, worker_group in zip(jobs_group_info, workers_group_info):
        job_to_workers_groups[job_group][worker_group] += 1
    
    high_quality_groups_for_jobs = {}
    
    for job_group, workers_groups in job_to_workers_groups.items():
        # Identify the worker group with the highest count in each job group as the high-quality group
        high_quality_group = max(workers_groups, key=workers_groups.get)
        high_quality_groups_for_jobs[job_group] = high_quality_group
    
    return high_quality_groups_for_jobs

# Execute the function to get the high-quality worker group for each job group
high_quality_groups = identify_high_quality_worker_groups(jobs_group_info, workers_group_info)

print("High-quality worker group for each job group:", high_quality_groups)

High-quality worker group for each job group: {3: 3, 4: 4, 2: 3, 1: 0, 0: 3}

In [21]:
matched_jobs = {}
for job_group, worker_group in high_quality_groups.items():
    jobs_in_group = [job_index for job_index, group in enumerate(jobs_group_info) if group == job_group]
    np.random.shuffle(jobs_in_group) 
    
    workers_in_group = [worker_index for worker_index, group in enumerate(workers_group_info) if group == worker_group]
    
    # Each worker is randomly matched to a job
    for worker_index in workers_in_group:
        if len(jobs_in_group) == 0:
            break  
        job_index = jobs_in_group.pop(0)  # Remove and get the first job in the list
        matched_jobs[worker_index] = job_index  

for worker_index, job_index in matched_jobs.items():
    print(f"worker {worker_index} is matched with job {job_index}")

worker 0 is matched with job 41
worker 1 is matched with job 23
worker 2 is matched with job 18
worker 6 is matched with job 33
worker 8 is matched with job 38
worker 11 is matched with job 24
worker 15 is matched with job 45
worker 18 is matched with job 7
worker 19 is matched with job 36
worker 27 is matched with job 26
worker 28 is matched with job 31
worker 29 is matched with job 28
worker 38 is matched with job 42
worker 3 is matched with job 21
worker 12 is matched with job 3
worker 21 is matched with job 9
worker 22 is matched with job 37
worker 24 is matched with job 35
worker 30 is matched with job 17
worker 32 is matched with job 12
worker 33 is matched with job 47
worker 46 is matched with job 1
worker 5 is matched with job 13
worker 20 is matched with job 46
worker 26 is matched with job 39
worker 31 is matched with job 15
worker 34 is matched with job 48
worker 35 is matched with job 44
worker 36 is matched with job 27
worker 37 is matched with job 20
worker 41 is matched with job 5
worker 44 is matched with job 43